@model Exoticamp.UI.Models.Banners.BannerViewModel

@{
    ViewData["Title"] = "EditBanner";
}
<style>
    body {
        background-color: #f8f9fa; /* Light grey background */
    }

    .card {
        border-radius: 10px;
        border: none;
    }

    .form-control:focus {
        box-shadow: none;
        border-color: #007bff;
    }

    .btn-primary {
        background-color: #007bff;
        border: none;
    }

        .btn-primary:hover {
            background-color: #0056b3;
        }

    .text-danger {
        font-size: 0.875em;
    }

</style>

<hr />

<div class="container d-flex justify-content-center">
    <div class="col-md-6">

        <div class="card shadow-sm p-4">
            <form asp-action="EditBanner">
                <h1>Edit Banner</h1>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group mb-3">
                    <label asp-for="Link" class="control-label"></label>
                    <input asp-for="Link" class="form-control" />
                    <span asp-validation-for="Link" class="text-danger"></span>
                </div>
                <div class="form-group form-check mb-3">
                    <input class="form-check-input" asp-for="IsActive" />
                    <label class="form-check-label" asp-for="IsActive">@Html.DisplayNameFor(model => model.IsActive)</label>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="PromoCode" class="control-label"></label>
                    <input asp-for="PromoCode" class="form-control" />
                    <span asp-validation-for="PromoCode" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Locations" class="control-label"></label>
                    <input asp-for="Locations" class="form-control" />
                    <span asp-validation-for="Locations" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="ImagePath" class="control-label"></label>
                    <input asp-for="ImagePath" class="form-control" />
                    <span asp-validation-for="ImagePath" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <input type="submit" value="Save" class="btn btn-primary w-100" />
                </div>
            </form>
        </div>
    </div>
</div>

<div class="text-center mt-3">
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/jquery.validate.unobtrusive.min.js"></script>
}
