html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.chatbox {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    max-height: 500px;
    overflow-y: auto;
    background-color: #f9f9f9;
}

.chatbox-messages {
    max-height: 400px;
    overflow-y: auto;
    padding: 10px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 10px;
}

.message {
    margin-bottom: 10px;
}

.bot-message {
    text-align: left;
}

.user-message {
    text-align: right;
}

.user-query {
    margin-top: 10px;
}

.chat-option button {
    border: none;
    background: none;
    text-decoration: none;
    background: #dcefff;
}

    .chat-option button:hover {
        text-decoration: underline;
    }
