@model Exoticamp.UI.Models.Events.EventVM

@{
    ViewData["Title"] = "AddEvent";
}

<h1>AddEvent</h1>

<h4>EventVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddEvent" method="post" enctype='multipart/form-data'>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          @*   <div class="form-group">

                <input asp-for="EventId" class="form-control"  hidden/>
               
            </div>  *@
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Capacity" class="control-label"></label>
                <input asp-for="Capacity" class="form-control" />
                <span asp-validation-for="Capacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control"  type="file"/>
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Highlights" class="control-label"></label>
                <input asp-for="Highlights" class="form-control" />
                <span asp-validation-for="Highlights" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventRules" class="control-label"></label>
                <input asp-for="EventRules" class="form-control" />
                <span asp-validation-for="EventRules" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="GetAllEvents">Back to List</a>
</div>
@if (TempData["Message"] != null)
{
    <script src="/lib/jquery//dist/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script type="text/javascript">
        toastr.error('@TempData["Message"]');
    </script>
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
