 
 @model IEnumerable<Exoticamp.UI.Models.Users.UsersVM>

@{
    ViewData["Title"] = "GetAllUsers";
    Layout = "~/Views/Shared/_VendorLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">
        <h3>Tabs</h3>
        <ul class="nav nav-tabs">
            <li class="active"><a asp-action="GetAllUsers" asp-controller="Admin">Users</a></li>
            <li><a id="VendorLink" href="#vendors">Vendors</a></li>
             
        </ul>
     </div>
     <div  id="User">
        @{
            Html.RenderPartial("GetAllUsersPartial",  Model);
        }
     </div>
    <script>
        $(document).ready(function () {
            $('#VendorLink').on('click', function () {
                 
                $.ajax({
                    url: '@Url.Action("GetAllVendors", "Admin")',
                    type: 'GET',
                     
                    success: function (result) {
                        $('#User').empty();
                        $('#User').html(result);
                    },
                    error: function () {
                        alert('An error occurred while loading the response form.');
                    }
                });
            });
        });
        </script>

</body>
</html>
